/*Typography*/
body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

.small-text,
.bold-small-text {
    margin: 0;
    font-size: 0.875rem;
    /* 14px */
    color: #000;
}

.bold-small-text {
    font-weight: 700;
}

/*Layout*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.32em 0.32em 0.625em;
    border-bottom: 1px solid #C6C6C6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

.user-details {
    display: flex;
    align-items: center;
    margin: 0.625em 0;
}

.caption-details {
    padding: 0.32em 0 3.15em 1.25em;
}

/*Images*/

.logo {
    max-width: 200px;
    width: auto;
    margin: 0 0 0 0.625em;
}

.user-avatar {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    width: auto;
    border-radius: 50%;
}

.instagram-picture {
    width: 100%;
}

.icons img {
    max-width: 30px;
    margin: 0.32em;
}

.icons,
.user-avatar {
    margin: 0 0.625em 0 1.25em;
}