/*Typography*/
body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}

.small-text,
.bold-small-text {
    margin: 0;
    font-size: 14px;
    color: #000;
}

.bold-small-text {
    font-weight: 700;
}



/*Layout*/
.container {
    max-width: 600px;
    margin: 0 auto;
    border: solid 3px #000;
}

.user-details,
.user-avatar {
    margin: 0 10px 0px 20px;
}

.user-details {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 8px 0 0 0;
}

/*Images*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    max-width: 200px;
    width: auto;
    margin: 0 0 0 10px;
}

.user-avatar {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    width: auto;
    border-radius: 50%;
}

.instagram-picture {
    width: 100%;
}

.icons img {
    max-width: 30px;
    margin: 5px 5px;
}

.icons,
.caption-details {
    margin: 0 10px 0px 20px;
}